body{
  margin: 0;
}

#bar{
  background-color: #f2f2f2;
  height: 50px;
}
.links{
  display: inline-block;
  margin-left: 5px;
  color: black;
}
#link_box{
  padding-left: 50px;
}
h1{
  text-align: center;
}
